// .login {
//   height: 100%;
//   display: flex;
//   color: white;
//   text-shadow: 
//   -2.5px -2.5px 0 #000,  
//   2.5px -2.5px 0 #000,
//   -2.5px 2.5px 0 #000,
//   2.5px 2.5px 0 #000;
//   background-image: url('loginbg.jpg'); // Specify the path to your image
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   min-height: 100vh; // Ensure it covers at least the full viewport height
//   display: flex;
//   flex-direction: column;
//   z-index: -1;
  

//   .formContainer {
//     flex: 3;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     form {
//       display: flex;
//       flex-direction: column;
//       gap: 20px;
      

//       input{
//         padding: 20px;
//         border: 1px solid gray;
//         border-radius: 5px;
        
//       }

//       button{
//         padding: 20px;
//         border-radius: 5px;
//         border: none;
//         background-color: teal;
//         color: white;
//         font-weight: bold;
//         cursor: pointer;

//         &:disabled{
//           background-color: #BED9D8;
//           cursor: not-allowed;
//         }
//       }

//       span{
//         color: rgba(255, 0, 0, 0.591);
//       }

//       a{
//         font-size: 14px;
//         color: gray;
//         border-bottom: 1px solid gray;
//         width: max-content;
//       }
//     }
//   }

//   // .imgContainer {
//   //   flex: 2;
//   //   background-color: #fcf5f3;
//   //   display: flex;
//   //   align-items: center;
//   //   justify-content: center;
//   //   img {
//   //     width: 100%;
//   //   }
//   // }
// }


.login {
  height: 100%;
  display: flex;
  color: white;
  text-shadow: 
  -2.5px -2.5px 0 #000,  
  2.5px -2.5px 0 #000,
  -2.5px 2.5px 0 #000,
  2.5px 2.5px 0 #000;
  background-image: url('loginbg.jpg'); // Specify the path to your image
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; // Ensure it covers at least the full viewport height
  display: flex;
  flex-direction: column;
  z-index: -1;

  .formContainer {
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background: rgba(0, 0, 0, 0.5);
      padding: 40px;
      border-radius: 10px;

      .form-control {
        position: relative;
        margin: 20px 0;
        width: 100%;
      }

      .form-control input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px #fff solid;
        display: block;
        width: 100%;
        padding: 15px 0;
        font-size: 18px;
        color: #fff;
      }

      .form-control input:focus,
      .form-control input:valid {
        outline: 0;
        border-bottom-color: lightblue;
      }

      .form-control label {
        position: absolute;
        top: 15px;
        left: 0;
        pointer-events: none;
      }

      .form-control label span {
        display: inline-block;
        font-size: 18px;
        min-width: 5px;
        color: #fff;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }

      .form-control input:focus + label span,
      .form-control input:valid + label span {
        color: lightblue;
        transform: translateY(-30px);
      }

      button {
        padding: 1.3em 3em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
      }
      
      button:hover {
        background-color: #23c483;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
      }
      
      button:active {
        transform: translateY(-1px);
      }

      span {
        color: rgba(255, 0, 0, 0.591);
      }

      a {
        font-size: 14px;
        color: gray;
        border-bottom: 1px solid gray;
        width: max-content;
      }
    }
  }
}
