@import "../../responsive.scss";

.homePage {
  display: flex;
  height: 100%;
  z-index: -1;
  @font-face {
    font-family: 'Pricedown';
    src: url('/client/src/gtafont.ttf') format('truetype');
  }
  
  body {
    font-family: 'Pricedown', sans-serif;
  }


  .textContainer {
    flex: 3;
    color: white;
    // text-shadow: 
    //     -3px -3px 0 #000,  
    //     3px -3px 0 #000,
    //     -3px 3px 0 #000,
    //     3px 3px 0 #000;
    z-index: 1;

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;
      color: white;

      @include lg{
        padding-right: 50px;
      }

      @include md{
        padding: 0;
      }

      @include sm{
        justify-content: flex-start;
      }

      .title {
        font-size: 64px;
        

        @include lg {
          font-size: 48px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;
        

        @include sm {
          display: none;
        }

        h1 {
          font-size: 36px;

          @include lg {
            font-size: 32px;
          }
        }

        h2 {
          font-size: 35px;
          font-weight: 500;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    background-color: #faf7f6;
    position: relative;
    display: flex;
    align-items: center;

    @include md {
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      right: 0;

      @include lg {
        width: 105%;
      }
    }
  }
}
