@import "../../responsive.scss";

.searchBar {
  .type {
    button {
      padding: 16px 36px;
      border: 1px solid #999;
      border-bottom: none;
      cursor: pointer;
      background-color: white;
      text-transform: capitalize;
      transition: all 0.3s ease;

      &.active {
        background-color: #89769a;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-left: none;
      }

      &:hover {
        background-color: #e0e0e0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      }

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  form {
    border: 1px solid #141F33;
    display: flex;
    justify-content: space-between;
    height: 64px;
    gap: 10px;

    @include sm {
      flex-direction: column;
      border: none;
    }

    input {
      border: none;
      padding: 0px 10px;
      width: 200px;
      border-radius: 5px;
      height: 50px;

      @include lg {
        padding: 0px 5px;

        &:nth-child(2),
        &:nth-child(3) {
          width: 140px;
        }
      }

      @include md {
        width: 200px;

        &:nth-child(2),
        &:nth-child(3) {
          width: 200px;
        }
      }

      @include sm {
        width: auto;

        &:nth-child(2),
        &:nth-child(3) {
          width: auto;
        }

        padding: 20px;
        border: 1px solid #999; ///* Default border for small screens */
      }
    }

    a {
      flex: 1;
      background-color: #89769a;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px; /* Space between input and button */
      border-radius: 5px;
      height: 55px;

      button {
        border: none;
        cursor: pointer;
        background-color: #89769a;
        border-radius: 5px;
        padding: 16px 36px;
        transition: all 0.3s ease;
        height: 50px;

        @include sm {
          padding: 10px;
        }

        &:hover {
          background-color: #705a85;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
